<!DOCTYPE html>

<html>
	<head>
		<title>blankdown - yet yet yet another markdown editor</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/routeros.min.css">

		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vuex/dist/vuex.min.js"></script>
		<script src="https://unpkg.com/lodash/lodash.min.js"></script>
		<script src="https://unpkg.com/marked/marked.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

		<style>
			body {
				margin: 0;
				height: 100vh;
			}
			.nav-content-area {
				height: 100vh;
				overflow: auto;
				display: flex;
				flex-direction: column;
			}
			nav {
				flex: 0 0 auto;
			}

			.markdown-viewer table, .markdown-viewer tr, .markdown-viewer th, .markdown-viewer td {
				border-collapse: collapse;
				border: 1px solid #ccc;
			}
			.markdown-viewer th, .markdown-viewer td {
				padding: .5em 1em;
			}
		</style>

		<style>
			.nav-header {
				background-color: white;
				padding: .3em .5em .5em;
			}

			.nav-header-link {
				color: #333;
				text-decoration: none;
				margin: 0 .5em;
				user-select: none;
				font-size: 120%;
			}

			.nav-drawer {
				background-color: rgba(255, 255, 255, 0.5);
				border-right: 1px solid rgba(0, 0, 0, 0.05);
				padding: 0 .5em;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 15em;
				z-index: 2;
			}

			.nav-drawer hr {
				background-color: #ccc;
				border: none;
				height: 1px;
			}
			
			.nav-drawer-title {
				font-size: 150%;
				margin: .5em 0;
				border-bottom: 1px solid #ccc;
				user-select: none;
			}

			.nav-drawer-link {
				color: black;
				text-decoration: none;
				display: block;
				margin: .7em 0;
			}

			.nav-drawer-link-disabled {
				color: #999;
			}

			.nav-blind {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
			}

			.nav-slide-enter-active, .nav-slide-leave-active {
				transition: left .3s, opacity .3s;
			}
			.nav-slide-enter, .nav-slide-leave-to {
				left: -15em;
				opacity: 0.5;
			}

			.nav-show-content {
				transition: filter .3s;
				filter: none;
			}
			.nav-hide-content {
				transition: filter .3s;
				filter: blur(5px) grayscale(50%);
			}
		</style>

		<style>
			.dialog-show-content {
				transition: filter .3s;
				filter: none;
			}
			.dialog-hide-content {
				transition: filter .3s;
				filter: blur(5px) grayscale(50%);
			}

			.dialog-backboard {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.dialog-window {
				background-color: rgba(255, 255, 255, 0.5);;
				border: 1px solid rgba(0, 0, 0, 0.05);
				text-align: center;
				padding: 3em 5em;
			}

			.dialog-enter-active, .dialog-leave-active {
				transition: opacity .3s;
			}
			.dialog-enter, .dialog-leave-to {
				opacity: 0;
			}
		</style>

		<style>
			.saving-indicator-enter-active, .saving-indicator-leave-active {
				transition: opacity .5s;
			}
			.saving-indicator-enter, .saving-indicator-leave-to {
				opacity: 0;
			}
		</style>
	</head>

	<body>
		<div id=app></div>
	</body>

	<script>
marked.setOptions({
	highlight(code, lang) {
		try {
			if (lang) {
				return hljs.highlight(lang, code, true).value;
			} else {
				return hljs.highlightAuto(code).value;
			}
		} catch(e) {
			return code;
		}
	},
});


function get_name_by_markdown(markdown) {
	return markdown.slice(0, markdown.indexOf('\n')).trim().replace(/^#+ /, '').trim();
}


const storageManager = store => {
	function save_data(file) {
		if (!file.readonly) {
			localStorage.setItem('file::' + file.id, JSON.stringify({
				markdown: file.markdown,
			}));
		}
	}

	autosave = _.debounce(() => {
		store.dispatch('save');
	}, 1000);

	store.subscribeAction((action, state) => {
		switch (action.type) {
		case 'save':
			if (state.current.markdown) {
				save_data(state.current);
				store.commit('push_recent_file', state.current);
				Vue.nextTick(() => {
					store.commit('saved');
				});
			}
			break;

		case 'load':
			save_data(state.current);
			const data = JSON.parse(localStorage.getItem('file::' + action.payload));
			if (data) {
				store.commit('loaded', {
					id: action.payload,
					markdown: data.markdown,
					readonly: false,
				});
			}
			break;

		case 'create':
			store.commit('created', {
				id: (new Date()).getTime().toString(36),
				markdown: '',
				readonly: false,
			});
			break;

		case 'remove':
			localStorage.removeItem('file::' + state.current.id);
			store.commit('removed', state.current);
			store.commit('remove_recent_file', state.current);
			for (let i=0; i<state.recent.length; i++) {
				const data = JSON.parse(localStorage.getItem('file::' + state.recent[i].id));
				if (data) {
					store.commit('loaded', {
						id: state.recent[i].id,
						markdown: data.markdown,
						readonly: false,
					});
					return;
				}
			}
			store.dispatch('create');
			break;

		case 'update_markdown':
			store.commit('push_recent_file', state.current);
			autosave();
			break;

		case 'import_markdown':
			store.commit('loaded', {
				id: (new Date()).getTime().toString(36),
				markdown: action.payload,
				readonly: false,
			});
			break;
		}
	});

	store.subscribe((mutation, state) => {
		switch (mutation.type) {
		case 'changed_recent_files':
		case 'push_recent_file':
		case 'remove_recent_file':
			const recent = state.recent.filter(x => localStorage.getItem('file::' + x.id) != null);
			localStorage.setItem('state::recent_files', JSON.stringify(recent));
			break;

		case 'created':
		case 'loaded':
			if (!mutation.payload.readonly && mutation.payload.id) {
				localStorage.setItem('state::most_recent_file', mutation.payload.id);
				store.commit('push_recent_file', mutation.payload);
			}
			break;
		}
	});

	store.commit('changed_recent_files', JSON.parse(localStorage.getItem('state::recent_files')) || []);

	let most_recent_id = localStorage.getItem('state::most_recent_file');
	let most_recent = JSON.parse(localStorage.getItem('file::' + most_recent_id));
	if (!most_recent) {
		most_recent_id = (new Date()).getTime().toString(36);
		most_recent = {
			markdown: "# blankdown\n\nThis is yet yet yet another markdown editor.\n\nYou can write **markdown** here, and save into local storage of your computer.\n",
		};
	}
	store.commit('loaded', {
		id: most_recent_id,
		markdown: most_recent.markdown,
		readonly: false,
	});

	window.addEventListener('beforeunload', () => {
		store.dispatch('save');
	});
};


const store = new Vuex.Store({
	plugins: [storageManager],
	state: {
		current: {
			id: '',
			markdown: '',
			readonly: false,
		},
		recent: [],
		saving: false,
	},
	mutations: {
		loaded(state, data) {
			state.current.id = data.id;
			state.current.markdown = data.markdown;
			state.current.readonly = data.readonly;
		},
		changed_recent_files(state, files) {
			state.recent = files;
		},
		push_recent_file(state, file) {
			if (file.readonly) {
				return;
			}

			state.recent = state.recent.filter(x => x.id !== file.id);

			state.recent.unshift({
				id: file.id,
				name: get_name_by_markdown(file.markdown),
			});
		},
		remove_recent_file(state, file) {
			if (file.readonly) {
				return;
			}

			state.recent = state.recent.filter(x => x.id !== file.id);
		},
		start_save(state) {
			state.saving = true;
		},
		saved(state) {
			state.saving = false;
		},
		change_markdown(state, markdown) {
			state.current.markdown = markdown;
		},
		open_readonly(state, markdown) {
			this.commit('loaded', {
				id: null,
				markdown: markdown,
				readonly: true,
			});
		},
		created(state, data) {
			state.current.id = data.id;
			state.current.markdown = data.markdown;
			state.current.readonly = data.readonly;
		},
		removed(state) {
			this.current = {
				id: '',
				markdown: '',
				readonly: false,
			};
		},
	},
	actions: {
		update_markdown(context, markdown) {
			this.commit('change_markdown', markdown);
		},
		import_markdown(context, markdown) {
		},
		create() {
		},
		save() {
			this.commit('start_save');
		},
		load(context, id) {
		},
		remove() {
		},
	},
	getters: {
		html(state) {
			return marked(state.current.markdown, {
				sanitize: true,
			});
		},
		current_name(state) {
			return get_name_by_markdown(state.current.markdown);
		},
	},
});


Vue.directive('focus', {
	inserted(el) {
		el.focus();
	},
});


Vue.component('nav-wrapper', {
	computed: {
		groups() {
			return this.$slots.default.filter(slot => slot.componentOptions).map(slot => {
				return {
					slot: slot,
					name: slot.componentOptions.propsData.name,
				};
			});
		},
	},
	data() {
		return {
			opened: false,
			current: null,
		};
	},
	template: `
		<div class=nav-wrapper>
			<div class=nav-content-area :class="{ 'nav-show-content': !opened, 'nav-hide-content': opened }">
				<nav class=nav-header>
					<a draggable=false href class=nav-header-link v-for="group in groups" @click.prevent="open(group.slot.componentInstance)">{{ group.name }}</a>
				</nav>
				<div class=nav-blind v-if=opened @click=closeAll></div>
				<slot name=content />
			</div>
			<div>
				<slot />
			</div>
		</div>
	`,
	mounted() {
		this.groups.forEach(x => x.slot.componentInstance.$on('opened', opened => {
			this.opened = opened;
			this.current = opened ? x.slot.componentInstance : null;
			this.$emit('opened', opened);
		}));
		window.addEventListener('keydown', this.shortcut);
	},
	methods: {
		closeAll() {
			this.groups.forEach(slot => {
				slot.slot.componentInstance.close();
			});
		},
		open(component) {
			this.closeAll();
			component.open();
		},
		shortcut(ev) {
			if (ev.altKey) {
				this.groups.forEach(slot => {
					if (ev.key === slot.name[0].toLowerCase()) {
						ev.preventDefault();

						if (this.current === slot.slot.componentInstance) {
							this.closeAll();
						} else {
							this.open(slot.slot.componentInstance);
						}
					}
				});
			} else if (ev.key == 'Escape' && this.opened) {
				ev.preventDefault();
				this.closeAll();
			}
		},
	},
});


Vue.component('nav-drawer', {
	props: ['name'],
	data() {
		return {
			opened: false,
		};
	},
	template: `
		<transition name=nav-slide>
			<div class=nav-drawer v-if=opened>
				<h1 class=nav-drawer-title @click=close>{{ name }}</h1>
				<slot />
			</div>
		</transition>
	`,
	methods: {
		open() {
			this.opened = true;
			this.$emit('opened', true);
		},
		close() {
			this.opened = false;
			this.$emit('opened', false);
		},
	},
});


Vue.component('nav-button', {
	props: ['disabled'],
	template: `<a draggable=false href @click.prevent=click class="nav-drawer-link" :class="{ 'nav-drawer-link-disabled': disabled }"><slot /></a>`,
	methods: {
		click() {
			if (!this.disabled) {
				this.$emit('click');
				this.$parent.close();
			}
		},
	},
});


Vue.component('synchronize-scroll', {
	template: `<div><slot /></div>`,
	computed: {
		elements() {
			return this.$slots.default.filter(x => x.componentInstance).map(x => x.componentInstance.$el);
		},
	},
	mounted() {
		this.elements.forEach(elm => {
			elm.addEventListener('scroll', () => {
				Vue.nextTick(() => {
					const rate = Math.round(elm.scrollTop / (elm.scrollHeight - elm.clientHeight) * 1000) / 1000;
					this.elements.forEach(e => {
						if (e !== elm) {
							e.scrollTo(0, (e.scrollHeight - e.clientHeight) * rate);
						}
					});
				});
			});
		});
	},
});


Vue.component('markdown-writer', {
	template: `
		<synchronize-scroll style="display: flex;" class=markdown-writer>
			<markdown-editor style="flex: 1 1 0; outline: none; border: 0; resize: none;" v-focus />
			<markdown-viewer style="flex: 1 1 0; padding-left: 1em;" />
		</synchronize-scroll>
	`,
});


Vue.component('markdown-editor', {
	template: `
		<textarea
			class=markdown-editor
			style="box-sizing: border-box; padding: .5em;"
			@keydown.tab.prevent=indent
			@input="update($event.target.value)"
			:value=$store.state.current.markdown
			:disabled=$store.state.current.readonly></textarea>
	`,
	methods: {
		indent() {
			const elm = this.$el;
			const start = elm.selectionStart;

			elm.value = elm.value.slice(0, start) + '    ' + elm.value.slice(elm.selectionEnd);
			elm.selectionStart = elm.selectionEnd = start + 4;

			this.update(elm.value);
		},
		update(markdown) {
			this.$store.dispatch('update_markdown', markdown);
		},
	},
});


Vue.component('markdown-viewer', {
	template: '<div class=markdown-viewer v-html="$store.getters.html" style="box-sizing: border-box; overflow: auto;" />',
});


Vue.component('dialog-wrapper', {
	props: ['opened'],
	model: {
		prop: 'opened',
		event: 'switch',
	},
	template: `
		<div class=dialog-wrapper>
			<div :class="{ 'dialog-show-content': !opened, 'dialog-hide-content': opened }">
				<slot />
			</div>

			<transition name=dialog>
				<div class=dialog-backboard v-if=opened @click="$emit('switch', !opened)">
					<div class=dialog-window @click.stop>
						<slot name=dialog />
					</div>
				</div>
			</transition>
		</div>
	`,
});


Vue.component('import-and-exporter', {
	template: `
		<div style="display: none;">
			<input
				class=import-and-exporter--input-file
				@change="importFromFiles(this.event.target.files)"
				type=file
				accept="*.md"
				style="display: none;" />

			<a class=import-and-exporter--download-link></a>
		</div>
	`,
	created() {
		this.$on('import', this.importMarkdown);
		this.$on('export-markdown', this.exportMarkdown);
		this.$on('export-html', this.exportHTML);
	},
	methods: {
		importMarkdown() {
			this.$el.querySelector('.import-and-exporter--input-file').click();
		},
		importFromFiles(files) {
			if (!files) {
				return;
			}

			const reader = new FileReader();
			reader.addEventListener('load', () => {
				this.$store.dispatch('import_markdown', reader.result);
			});
			reader.readAsText(files[0]);
		},

		startDownload(filename, mimetype, data) {
			const elm = this.$el.querySelector('.import-and-exporter--download-link')
			elm.href = URL.createObjectURL(new Blob([ data ], { type: mimetype }));
			elm.download = filename;
			this.$el.querySelector('.import-and-exporter--download-link').click();
		},
		exportMarkdown() {
			this.startDownload(this.$store.getters.current_name + '.md', 'text/markdown', this.$store.state.current.markdown);
		},
		exportHTML() {
			this.startDownload(this.$store.getters.current_name + '.html', 'text/html', this.$store.getters.html);
		},
	},
});


Vue.component('saving-indicator', {
	data() {
		return {
			shown: false,
		};
	},
	computed: {
		saving() {
			return this.$store.state.saving;
		},
	},
	created() {
		this.$watch('saving', saving => {
			if (saving) {
				this.shown = true;
			} else {
				setTimeout(() => {
					this.shown = false;
				}, 800);
			}
		});
	},
	template: `
		<transition name=saving-indicator>
			<div v-if=shown style="position: fixed; right: 0; bottom: 0; background-color: rgba(255, 255, 255, 0.8); padding: .5em 2em; border: 1px solid rgba(0, 0, 0, 0.05); color: #666;">saving...</div>
		</transition>
	`,
});


const vm = new Vue({
	el: '#app',
	store: store,
	data: {
		dialogOpened: false,
		dialogContent: null,
	},
	template: `
		<main>

			<nav-wrapper>
				<nav-drawer name="FILE">
					<nav-button @click="$store.dispatch('create')">new</nav-button>
					<nav-button @click="$store.dispatch('save')">save</nav-button>
					<nav-button @click="$store.dispatch('remove')">remove</nav-button>
					<hr>
					<nav-button @click="$refs.importAndExporter.$emit('import')">import</nav-button>
					<nav-button @click="$refs.importAndExporter.$emit('export-markdown')">export as markdown</nav-button>
					<nav-button @click="$refs.importAndExporter.$emit('export-html')">export as HTML</nav-button>
					<hr>
					<nav-button
						v-for="file in $store.state.recent"
						:key="file.id"
						@click="$store.dispatch('load', file.id)"
						:disabled="file.id === $store.state.current.id">{{ file.name }}</nav-button>
				</nav-drawer>

				<nav-drawer name="EDIT">
					<nav-button>insert header</nav-button>
					<nav-button>insert table</nav-button>
				</nav-drawer>

				<nav-drawer name="HELP">
					<nav-button @click="open_shortcuts">shortcuts</nav-button>
					<nav-button @click="open_about">about</nav-button>
				</nav-drawer>

				<markdown-writer slot=content style="flex: 1 1 0"></markdown-writer>
			</nav-wrapper>

			<saving-indicator />

			<import-and-exporter ref=importAndExporter />
		</main>
	`,
	created() {
		window.addEventListener('keydown', ev => {
			if (ev.ctrlKey) {
				if (ev.shiftKey) {
					switch (ev.key) {
					case 's':
						ev.preventDefault();
						this.$refs.importAndExporter.$emit('export-markdown');
						break;

					case 'o':
						ev.preventDefault();
						this.$refs.importAndExporter.$emit('import');
						break;
					}
				} else {
					switch (ev.key) {
					case 'm':
						ev.preventDefault();
						this.$store.dispatch('create');
						break;
					case 's':
						ev.preventDefault();
						this.$store.dispatch('save');
						break;
					}
				}
			}
		});
	},
	methods: {
		open_shortcuts() {
			this.$store.commit('open_readonly', shortcuts_document);
		},
		open_about() {
			this.$store.commit('open_readonly', about_document);
		},
	},
});


const shortcuts_document = `# Shortcuts

## main menu
|key combination|what do        |
|:--------------|:--------------|
|Alt-F          |Open FILE pane |
|Alt-E          |Open EDIT pane |
|Alt-H          |Open HELP pane |
|Escape         |Close side pane|

## file
|key combination|what do                        |
|:--------------|:------------------------------|
|Ctrl-M         |Make new file                  |
|Ctrl-S         |Save current file              |
|Ctrl-Shift-S   |Export current file as markdown|
|Ctrl-Shift-O   |Import markdown file from disk |
`;


const about_document = `# About blankdown

not yet wrote.
`;
	</script>
</html>
